@charset "UTF-8";

@media screen and (min-width: 0px) and (max-width: 768px) { /* PARA TELAS MENORES */

    img#imagem {
        width: 100%;
        height: 100%;
    }

    section#area-total {
        width: 70%;
        height: 100%;
    }

}